/* Styles to content */
.hero{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 30% 30% 10% 30%;
    grid-template-rows: 60% 40%;
    gap:  0;
    grid-template-areas: "heroimg    heroimg   heroText  heroText"
                         "aboutimg   aboutText aboutText footerimg";
    justify-content: center;
    align-items: center;
}

.hero__image-container, .about__image-container, .desactive-container{
    height: 100%;
}

.hero__article, .about__article{
    padding: 0 10%;
}

/* Styles to menu */
.header{
    
    position: absolute;
    width: auto;
    padding: 2.5rem 0;
    background-color: initial;
    /* background-color: darkcyan; */
    justify-content: space-between;
    left:50px
}

.menu__list{
    margin-left: 30px;
}

.menu__item-link:hover{
   color: var(--verydarkGray);
}

.menu__item:hover{
    border-bottom: var(--verydarkGray) 1px solid;
}

.menu__item{
    margin-left: 30px;
}

/* arrows styles */
.arrows{
    right: -16.6%;
    width: calc(100%/6);
    justify-content: center;
}

.arrow{
    width: 100%;
}
