:root{
    --darkGray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white:  hsl(0, 0%, 100%);
    --verydarkGray: hsl(0, 0%, 27%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Spartan', sans-serif ;
    font-size: 1.2rem;
}

.header{
    /* background-color: darkcyan; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    justify-content: center;
    width: 100%;
    padding: 2.5rem 3rem;
    left: -5px
    
}

.burguer__icon{
    position: absolute;
    left: 10px;
    top: 3rem;
}

.menu{
   background-color: white;
   width: 100%;
   padding: 3em 1em; 
   font-weight: 700;
   color: var(--black);
   display: flex;
   justify-content: space-between;
   position: fixed;
   top: -100px;
   left: 0;
}

.menu.is-active{
    top: 0;
}


.menu__list{
    list-style: none;
    display: flex;
}

.menu__item{
    margin: 0 10px;
}

.hero{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    /* background-color: salmon; */
}

.desactive-container{
    height: 100%;
}

.hero__image1, .about__image, .desactive__image{
    width: 100%;
    height: inherit;
}

.hero__article, .about__article{
    padding: 0 3.5rem;
    /* background-color: sandybrown; */
}

.hero__title{
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--black);
}

.hero__text{
    margin-top: 2em;
    margin-bottom: 3em;
    color: var(--darkGray);
    line-height: 16pt;
}

.article__shop{
    /* background-color: salmon; */
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.shop__text{
    font-size: 1.4rem;
    letter-spacing: 10px;
}



.about__title{
    font-size: 1.2em;
    letter-spacing: 4px;
}

.about__text{
    margin-top: 1em;
    color: var(--darkGray);
    line-height: 16pt;
    font-size: 1.2rem;
    /* background-color: salmon; */
}