:root{
    --darkGray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white:  hsl(0, 0%, 100%);
    --verydarkGray: hsl(0, 0%, 27%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Spartan', sans-serif ;
    font-size: 1.2rem;
}

.header{
    /* background-color: darkcyan; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    justify-content: center;
    width: 100%;
    padding: 2.5rem 3rem;
    left: -5px
    
}

.burguer__icon{
    position: absolute;
    left: 10px;
    top: 3rem;
}

.menu{
   background-color: white;
   width: 100%;
   padding: 3em 1em; 
   font-weight: 700;
   color: var(--black);
   display: flex;
   justify-content: space-between;
   position: fixed;
   top: -100px;
   left: 0;
}

.menu.is-active{
    top: 0;
}


.menu__list{
    list-style: none;
    display: flex;
}

.menu__item{
    margin: 0 10px;
}

.hero{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    /* background-color: salmon; */
}

.desactive-container{
    height: 100%;
}

.hero__image1, .about__image, .desactive__image{
    width: 100%;
    height: inherit;
}

.hero__article, .about__article{
    padding: 0 3.5rem;
    /* background-color: sandybrown; */
}

.hero__title{
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--black);
}

.hero__text{
    margin-top: 2em;
    margin-bottom: 3em;
    color: var(--darkGray);
    line-height: 16pt;
}

.article__shop{
    /* background-color: salmon; */
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.shop__text{
    font-size: 1.4rem;
    letter-spacing: 10px;
}



.about__title{
    font-size: 1.2em;
    letter-spacing: 4px;
}

.about__text{
    margin-top: 1em;
    color: var(--darkGray);
    line-height: 16pt;
    font-size: 1.2rem;
    /* background-color: salmon; */
}

@media screen and (min-width: 768px){
    /* Styles to content */
    .hero{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:  0;
        grid-template-areas: "heroimg    heroText"
                             "aboutText  aboutimg"
                             "footerimg  footerimg";
        justify-content: center;
        align-items: center;
        /* background-color: salmon; */
    }

    .hero__article, .about__article{
        padding: 1rem 2rem;
        /* background-color: sandybrown; */
    }

    .hero__image-container, .about__image-container{
        height: 100%;
    }

    .hero__image-container{
        grid-area: heroimg;
    }

    .hero__article{
        grid-area:heroText;
    }

    .about__image-container{
        grid-area:  aboutimg;
    }

    .about__article{
        grid-area: aboutText;
    }

    .desactive-container{
        grid-area: footerimg;
        height: auto;
    }

    /* Styles to menu */
    .header{
        background-color: rgba(0, 0, 0, 0.9);
        flex-wrap: wrap;
        position: initial;
        justify-content: space-between;
        padding: 1rem 2.5rem;
    }
    
    .burguer__icon{
        display: none;
    }

    .menu__close-icon{
        display: none;
    }
    
    .menu{
       background-color: initial;
       color: white;
       width: auto;
       padding: 1em 0; 
       font-weight: 700;
       position: initial;
    }

    .menu__list{
        list-style: none;
        display: flex;
    }
    
    .menu__item{
        margin:0;
        margin-left: 20px;
    }
}

@media screen and (min-width: 1024px){
    /* Styles to content */
    .hero{
        min-height: 100vh;
        display: grid;
        grid-template-columns: 30% 30% 10% 30%;
        grid-template-rows: 60% 40%;
        gap:  0;
        grid-template-areas: "heroimg    heroimg   heroText  heroText"
                             "aboutimg   aboutText aboutText footerimg";
        justify-content: center;
        align-items: center;
    }

    .hero__image-container, .about__image-container, .desactive-container{
        height: 100%;
    }

    .hero__article, .about__article{
        padding: 0 10%;
    }

    /* Styles to menu */
    .header{
        
        position: absolute;
        width: auto;
        padding: 2.5rem 0;
        background-color: initial;
        /* background-color: darkcyan; */
        justify-content: space-between;
        left:50px
    }

    .menu__list{
        margin-left: 30px;
    }

    .menu__item{
        margin-left: 30px;
    }
}

